.stay-details {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1120px 1fr;
    grid-template-rows: repeat(4, minmax(200px, auto));

    head {
        grid-row: 1;
        grid-column: 2;
        display: grid;
        grid-template-rows: auto auto;

        .stay-header {
            margin-top: 100px;
            grid-row: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .mini-gallery {
            grid-row: 2;
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 10px;

            .main-image img {
                width: 100%;
                height: 100%;
                grid-column: 1;
                object-fit: cover;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem
            }

            .other-images{
                grid-column: 2;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover; 

                    &:nth-child(2){
                        border-top-right-radius: 1rem;
                    }
                    &:last-child{
                        border-bottom-right-radius: 1rem
                    }
                }
            }
        }
    }

    main {
        grid-row: 2;
        grid-column: 2;
        // position: relative;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .reviw-and-map {
        grid-row: 3;
        grid-column: 2;
    }

    footer {
        grid-row: 4;
        grid-column: 1 / -1;
        background-color: #f7f7f7;
    }
}

.order-card{
    grid-column: 2;
    position: sticky;
    top: 0;
}