.stay-details {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1120px 1fr;
    grid-template-rows: repeat(4, minmax(200px, auto));
    min-height: 100vh;
    // overflow-y: auto;

    header {
        grid-row: 1;
        grid-column: 2;
        display: grid;
        grid-template-rows: auto auto;

        .stay-header {
            margin-top: 100px;
            grid-row: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .stay-name {
                color: #222222;

            }

            .stay-header-btns {

                display: flex;
                align-items: center;
                gap: 5px;

                        .show-more-summary {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                
                        color: inherit;
                        background-color: transparent;
                        font-size: rem(16px);
                        line-height: rem(20px);
                        font-weight: bold;
                        padding: 0;
                        margin: 0;
                
                        text-decoration: underline;
                
                        img {
                        height: rem(12px);
                        width: rem(12px);
                
                    }
                }

            }


        }

        .mini-gallery {
            grid-row: 2;
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 10px;

            .main-image img {
                width: 100%;
                height: 100%;
                grid-column: 1;
                object-fit: cover;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem
            }

            .other-images {
                grid-column: 2;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;

                    &:nth-child(2) {
                        border-top-right-radius: 1rem;
                    }

                    &:last-child {
                        border-bottom-right-radius: 1rem
                    }
                }
            }
        }
    }

    main {
        grid-row: 2;
        grid-column: 2;
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        min-height: 100%;

        section {
            display: flex;
            flex-direction: column;
            color: #222222;

            &>* {
                border-bottom: 0.5px solid #22222238;

            }

            .stay-short-info {
                padding: rem(32px) 0;

                .info-header {
                    font-size: rem(22px);
                    line-height: rem(26px);
                    margin-bottom: rem(4px);
                }

                .info {
                    font-size: rem(16px);
                    font-weight: 100;
                    line-height: rem(20px);
                    margin: 0;
                }

                .rate {
                    font-size: rem(17px);
                    line-height: rem(20px);
                    margin: rem(8px) 0 0 0;
                }

            }

            .host-short-info {
                display: flex;
                gap: 24px;
                padding: rem(24px) 0;


                img {
                    height: rem(40px) !important;
                    width: rem(40px) !important;
                }

                .host-short-details {

                    h4 {
                        font-size: rem(16px);
                        line-height: rem(20px);
                        margin: 0;
                    }

                    .superhost {
                        color: #6a6a6a;
                        font-size: rem(14px);
                        line-height: rem(18px);
                        margin: 0;
                    }
                }



            }

            .stay-summary {
                padding: rem(32px) 0 rem(48px);

                p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 6;
                    display: box;
                    box-orient: vertical;
                    line-clamp: 6;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    font-size: rem(16px);
                    line-height: rem(24px);
                }

                .show-more-summary {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    color: inherit;
                    background-color: transparent;
                    font-size: rem(16px);
                    line-height: rem(20px);
                    font-weight: bold;
                    padding: 0;
                    margin: 0;

                    text-decoration: underline;

                    img {
                        height: rem(12px);
                        width: rem(12px);

                    }
                }
            }

            .amenities {
                padding: rem(48px) 0;
                margin: 0;

                h3 {
                    font-size: rem(22px);
                    line-height: rem(26px);

                    margin: 0;
                    padding-bottom: rem(24px);
                }

                ul {
                    margin: 0;

                    li {
                        font-size: rem(16px);
                        line-height: rem(20px);
                        padding-bottom: rem(16px);

                        .amenity {
                            display: flex;
                            gap: rem(16px);

                            img {
                                height: rem(24px);
                                width: rem(24px);
                            }
                        }
                    }
                }

                button {
                    color: inherit;
                    background-color: transparent;
                    font-size: rem(16px);
                    line-height: rem(20px);
                    font-weight: bold;

                    padding: rem(13px) rem(23px);
                    margin: rem(24px) 0 0 0;
                    border: rem(1px) solid #222222;
                    border-radius: 0.6rem;
                }

            }


        }
    }



    .reviw-and-map {
        grid-row: 3;
        grid-column: 2;
    }

    footer {
        grid-row: 4;
        grid-column: 1 / -1;
        background-color: #f7f7f7;
    }
}

.order-section {
    grid-column: 2;
    margin-left: rem(93px);
    // position: relative !important;
    // margin-right: 0% !important;

    .order-card {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 32px;
        padding: rem(24px);

        border: 1px solid rgb(221, 221, 221);
        border-radius: rem(12px);
        box-shadow: 0px 5px 18px #cfcfcfb7;
        margin: 20px 10px 10px 0;

        z-index: 2 !important;
        // top: var(--navigation-bar-offset, 80px) !important;
        // width: 100% !important;
        // display: inline-block !important;
        // padding-right: 1px !important;

        .order-price {
            font-size: rem(22px);
            line-height: rem(26px);
            margin-bottom: rem(24px);

            span {
                font-size: rem(16px);
                line-height: rem(20px);
            }
        }

        .form-reservation {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows:  rem(56px), rem(56px);
            border: 0.5px solid #222222;
            border-radius: rem(8px);
            margin-bottom: rem(8px);


            input{
                border: 0;
            }

            .reservation-dates-in {
                grid-row: 1;
                grid-column: 1;
            }

            .reservation-dates-out {
                grid-row: 1;
                grid-column: 2 !important;
            }

            .reservation-guests{
                grid-row: 2;
                grid-column: 1 /-1;
            }

            .reservation-dates-label,
            .reservation-guests-label {
                font-size: rem(10px);
                line-height: rem(16px);
                font-weight: bold;
            }
        }

        .reservation-footer {
            flex-direction: column;

            &>span {
                font-size: rem(14px);
                line-height: rem(18px);
                margin-top: rem(16px);
                text-align: center;
            }

            > :last-child {
                font-weight: bold;
                padding-top: rem(25px);
                border-top: 0.5px solid #3a39392f;
            }

            .footer-price-airbnb-fee {
                padding-bottom: rem(24px);
            }

            &>*:not(:first-child) {
                justify-content: space-between;
                font-size: rem(16px);
                line-height: rem(20px);
                margin-top: rem(16px);

                &:not(:last-child) :first-child {
                    text-decoration: underline;
                }
            }
        }
    }
}

.reserve-btn {
    font-size: rem(16px);
    line-height: rem(20px);
    color: white;
    position: relative;
    border: none;
    height: rem(48px);
    width: 100%;
    background: linear-gradient(to right, #ff385c, #d70466);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    margin: 0;

    // &:hover {
    //     background: #e91578;
    //     transition:  1s;
    // }

    &::after {
        content: "";
        position: absolute;
        top: calc(var(--y, 0) * 1px - 100px);
        left: calc(var(--x, 0) * 1px - 100px);
        width: 200px;
        height: 200px;
        background: radial-gradient(rgba(199, 230, 21, 0.726), #3984ff00 80%);

        opacity: 0;
        transition: opacity 0.2s;
    }

    &:hover::after {
        opacity: 0.4;
    }
}


.skeleton-loader {
    width: 220px;
    height: 220px;
    background: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    animation: shimmer-loading 1.5s infinite linear;
}

@keyframes shimmer-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}