.book-order-container {
    margin-top: 64px; //header should be close
    // min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(200px, 2fr) minmax(200px, 2fr) minmax(10px, 1fr);
    grid-template-rows: auto auto;
    // align-items: center;
    // justify-content: center;

    .success-header {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: center;


        .back-icon {
            width: 32px;
            height: 32px;
            
            img {
                border-radius: 50%;
                width: 16px;
                height: 16px;
                cursor: pointer;
                transition: transform 0.2s ease-in-out;
            }
            
            img:hover {
                transform: scale(1.2);
            }
        }

        .success-header-content {
            display: flex;
            align-items: center;

            h1 {
                font-size: rem(32px);
                line-height: rem(36px);
                margin-bottom: 48px;
                margin-left: 15px;
            }

            .success-icon {
                width: 48px;
                height: 48px;
                margin: 0 auto 24px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .book-order-content {
        grid-row: 2;
        grid-column: 2;
        border-radius: 12px;
        // padding: 32px;

        .booking-highlights {
            border: 1px solid rgb(221, 221, 221);
            border-radius: rem(12px);
            justify-content: space-between;
            padding: rem(24px);
            margin-bottom: 24px;

            img {
                width: rem(32px);
                height: rem(32px);
                align-self: center;
            }

            .booking-highlights-text {
                h5 {
                    font-size: rem(16px);
                    line-height: rem(20px);
                    margin: 0 0 7px 0;
                }

                h6 {
                    font-size: rem(16px);
                    line-height: rem(20px);
                    font-weight: 100;
                    margin: 0;
                }
            }

        }

        .trip-details {

            border-bottom: 1px solid rgb(235, 235, 235);
            margin-bottom: 32px;

            .book-order-message {
                font-size: rem(22px);
                line-height: rem(26px);
                margin-bottom: 24px;
            }

            .details-row {
                flex-direction: column;

                .detail-item {
                    justify-content: space-between;

                    &:first-child {
                        margin-bottom: 8px;
                    }

                    &:last-child {
                        margin-bottom: 17px;
                    }

                    h3 {
                        font-size: rem(16px);
                        line-height: rem(20px);
                        margin: 0;
                    }

                    p {
                        font-size: rem(16px);
                        line-height: rem(20px);
                    }
                }
            }
        }

        .cancellation-policy {
            border-bottom: 1px solid rgb(235, 235, 235);
            margin-bottom: 32px;

            h3 {
                font-size: rem(22px);
                line-height: rem(26px);
                margin-bottom: 24px;
            }

            p {
                font-size: rem(16px);
                line-height: rem(20px);
                padding-bottom: 32px;
                margin-bottom: 0;

                span {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }

        .reservation-status {
            border-bottom: 1px solid rgb(235, 235, 235);
            margin-bottom: 32px;

            p {
                font-size: rem(16px);
                line-height: rem(20px);
                padding-bottom: 32px;
                margin-bottom: 0;
            }

        }

        .agreement-terms {
            border-bottom: 1px solid rgb(235, 235, 235);
            margin-bottom: 32px;

            p {
                font-size: rem(12px);
                line-height: rem(16px);
                padding-bottom: 32px;
                margin-bottom: 0;

                span {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }

        .reserve-btn {
            font-size: rem(18px);
            line-height: rem(24px);
            width: 200px;
        }
    }

    .mini-stay-details {
        grid-row: 2;
        grid-column: 3;
        margin-left: 94px;

        .mini-stay-details-card {
            position: -webkit-sticky !important;
            position: sticky !important;
            top: 80px;
            z-index: 2 !important;

            border: 1px solid rgb(221, 221, 221);
            border-radius: rem(12px);

            padding: rem(24px);
            margin: 0 0 rem(88px) 0;

            .mini-stay-details-content {
                border-bottom: 1px solid rgb(235, 235, 235);
                padding-bottom: 32px;

                .mini-stay-details-img img {
                    width: 100%;
                    height: 102px;
                    object-fit: cover;
                    border-radius: 1rem;
                    aspect-ratio: 1;
                }

                .mini-stay-details-header {
                    margin-left: 16px;
                    align-self: center;


                    h4 {
                        font-size: 1rem;
                        line-height: rem(20px);
                        font-weight: bold;
                        margin: 0 0 5px 0;
                    }

                    h5 {
                        font-size: rem(14px);
                        line-height: rem(18px);
                        font-weight: 100;
                        margin: 0 0 5px 0;

                        span {
                            font-weight: bold;
                        }
                    }

                }
            }

            .mini-stay-price-details-header {
                flex-direction: column;

                &>h3 {
                    font-size: rem(22px);
                    line-height: rem(26px);
                    margin-top: 24px;
                    margin-bottom: 8px;
                }

                > :last-child {
                    font-weight: bold;
                    padding-top: rem(24px);
                    margin-top: rem(24px) !important;
                    border-top: 0.5px solid #3a39392f;
                }

                .footer-price-clean-fee :first-child,
                .footer-price-airbnb-fee :first-child {
                    text-decoration: underline;
                }

                &>*:not(:first-child) {
                    justify-content: space-between;
                    font-size: rem(16px);
                    line-height: rem(20px);
                    margin-top: rem(16px)
                }
            }
        }

    }
}