.review-list {
    display: grid;
    padding-top: 28px;
    border-top: 0.5px solid #22222238;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
    grid-auto-flow: row;

    align-items: start;

    @include for-mobile-layout {
        display: block;
    }

}

button.reviw-all-btn {
    color: inherit;
    background-color: transparent;
    font-size: rem(16px);
    line-height: rem(20px);
    font-weight: bold;

    padding: rem(13px) rem(23px);
    margin: 0 0 48px 0;
    border: rem(1px) solid #222222;
    border-radius: 0.6rem;

}