.marker-img {
    width: 48px;
    height: 48px;
    background-color: #ff385c;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 22px;
        height: auto;
        transition: all 0.3s ease;

        &:hover {
            content: url('https://res.cloudinary.com/dv2brrhll/image/upload/v1740000974/abnb_hk75m7.svg');
        }
    }
}

.map-container {
    border-top: 0.5px solid #22222238;
    .map-header {
        font-size: rem(22px);
        line-height: rem(26px);
        margin: 48px 0;
    }
}

div.map div div{
    border-radius: 20px;
}

div.map{
@include for-mobile-layout{
   height: 218px !important;
}
}