.main-container main {
    min-height: calc(100vh - 7rem);
    // overflow: hidden;
}

.details-page .main-container main {
    overflow: visible; 
}

.details-page .full-search-bar:not(.hidden) ~ main {
    padding-top: 80px;
}



